/* feedback box */

.ri-wth-helpful-feedback {
  transition: opacity 0.5s ease-in-out;
  background-color: rgb(248 250 252);
  border-radius: 0.25rem;
  padding: 1rem;
}
.ri-wth-helpful-feedback button {
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
}
.ri-wth-helpful-feedback button:hover {
  cursor: pointer;
}
.ri-wth-helpful-feedback button.helpful-yes:hover {
  background-color: springgreen;
}
.ri-wth-helpful-feedback button.helpful-no:hover {
  background-color: #ff0000;
}

.ri-wth-thank-you {
  transition: opacity 0.5s ease-in-out;
}
button {
  font-size: 24px;
}
.flex {
  display: flex;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
