.radio td {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio td label{
    display: flex;
    align-items: center;
}

svg {
    width: 24px;
}

.radio svg:hover {
    cursor: pointer;
}

#wpbody-content {
    padding-bottom: 200px;
}

.riwth-pre-footer{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #787c82;
    padding: 20px 0 30px 0;
    margin-bottom: 20px;
}